name: "build"
on:
  push:
    branches:
    - "!dependabot/*"
    - "*"
  pull_request:
    branches:
    - "*"
    types:
      # NOTE: these are the defaults
      - "opened"
      - "synchronize"
      - "reopened"
      # NOTE: we add this to let the conversion from draft trigger the workflows
      - "ready_for_review"
  merge_group:
    types:
      - "checks_requested"
jobs:
  build:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        java: # https://endoflife.date/oracle-jdk
          - 8 # Oldest
          - 21 # LTS
          - 24 # Latest
    name: "Java ${{ matrix.java }} Build"
    steps:
    - uses: "actions/checkout@v6"
    - uses: "actions/setup-java@v5"
      with:
        distribution: "adopt"
        java-package: "jdk"
        java-version: "${{ matrix.java }}"
    - uses: "bufbuild/buf-action@v1"
      with:
        setup_only: true
        github_token: ${{ github.token }}
    - uses: "gradle/actions/wrapper-validation@v5"
    - name: "Gradle Build"
      run: "./gradlew build"
  test:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        java: # https://endoflife.date/oracle-jdk
          - 8 # Oldest
          - 21 # LTS
          - 24 # Latest
    name: "Java ${{ matrix.java }} Test"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-java@v5"
        with:
          distribution: "adopt"
          java-package: "jdk"
          java-version: "${{ matrix.java }}"
      - uses: "bufbuild/buf-action@v1"
        with:
          setup_only: true
          github_token: ${{ github.token }}
      - uses: "authzed/action-spicedb@v1"
        with:
          version: "latest"
      - uses: "gradle/actions/wrapper-validation@v5"
      - name: "Gradle integrationTest"
        run: "./gradlew integrationTest --info"
